# macOS
.DS_Store
._.DS_Store
._*

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Datasets
datasets/*
!datasets/crown_closure_pred_segformer_mosaic/
!datasets/patches/
datasets/patches/*
!datasets/patches/satellite_imagery/
!datasets/patches/elevation/
!datasets/patches/crown_closure/
